
@{
    ViewBag.Title = "ManualDeliveryPage";
}

<h2>ManualDeliveryPage</h2>

<li>@Html.ActionLink("Add package to personal delivery list", "ViewPersonalDeliveryList", "Delivery")</li>
<li>@Html.ActionLink("Remove packages from manual delivery list", "CreateManualDeliveryList", "Delivery")</li>
<li>@Html.ActionLink("Change package order", "ViewPersonalDeliveryList", "Delivery")</li>
<li>@Html.ActionLink("Save manual delivery list", "CreateManualDeliveryList", "Delivery")</li>