
@{
    ViewBag.Title = "Home Page";
    <li>@Html.ActionLink("Warehouse manager page", "PackageList", "WHM")</li>
    <li>@Html.ActionLink("Delivery man page", "DeliveryManPage", "Delivery")</li>

}
